.addresses { 
  width: 100%; 
 // border-collapse: collapse; 
border: 1px solid black;
 }
body {
  font: normal medium/1.4 calibri;
  font-size: 12px;
}
/*Zebra striping*/
/*  tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc
}

tbody tr:nth-child(odd) {
  background: #eee;
}  */