
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
		  
		  height : 100%;
		  width: 100%
}
.wrapper header{
	width: 100%;
	
 }
.wrapper footer {
  padding: 20px;
  background: #666;
  color: white;
  width: 100%;
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
	  flex-grow : 1;
         
  background: pink;
  width: 100%;
  height: 100%;
}
.col-1 {
  background: lightblue;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1
         
		
}
.col-2 {
  background: honeydew;
   -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
	 
      
	 flex-grow : 1 
}

@media (min-width: 800px) {
	.wrapper {
		display: flex;
		height:100%;
	}
	
.content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
			height:100%;	  
  }
 .col-1 {
    width: 100%;
	height: 80%;
	order:-1;
  }
.col-2 {
	  order: 1;
  width : 100%;
  
 }
}

 .footer 
{
	order:3;
}

@media (min-width: 700px) {
  .wrapper .content {
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
			  display: flex;
  }
  .wrapper, .content, .col-1 .col-2,  {
  
   width: auto;
	height: auto;
  }
   .wrapper, .col-2 {
  order: -1; 
  width:100%;
  }
}
@media (min-width: 700px) {
  .content {
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
			  display: flex;
  }
   .col-1, .col-2, {
  

	height: auto;
  }
   .wrapper, .col-2 {
  order: 2; 
  
  }
}


@media (max-width: 700px) {
  .content {
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
			  display: flex;
  }
.col-1, .col-2{
  
   width: auto;
	height: auto;
  }
 .col-2 {
  order: -1 ; 
  width:100%;
  }
}

.main {
	max-height: 450px;
	overflow-y: auto;
}

.searchfields {
	position: fixed;

}

